@model IEnumerable<VehicleSetup3.Models.LicenseView>

@{
    ViewBag.Title = "License";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>License</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LicenceClass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LicenseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidFromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertOperation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LicenceClass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LicenseNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValidFromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiryDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlertOperation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
